<div class="container">
    <div class="row">
    </div>
</div>

<!--
     <input id="Name" class="form-control" placeholder="Imie"/>
        <input id="Surname" class="form-control" placeholder="Nazwisko"/>
        <input id="E-mail" class="form-control" type="email" placeholder="example@example.com"/>
        <select id="Profile" class="form-control">
            <option>Programowanie Aplikacji Webowych</option>
            <option>Biznes Inteligence</option>
            <option>Zarządzanie Sieciami Komputerowymi</option>
        </select>
        <div style="width: 50%;">
            <span style="padding-left: 50%; font-size: 20px;">Czy Preferujesz e-learning? </span><input style="margin-left: 25px;" id="Checkbox" type="checkbox"/>
        </div>
        <textarea id="Comments" class="form-control" type="text">Uwagi</textarea>
-->
